html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cinzel', serif;
}

.contacts {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	overflow-x: scroll;
}

.phone, .email {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.logo {
	width: 550px;
	max-width: 100%;
	display: block;
	margin: auto;
}

.mast {
	background: #eadac0;
}

.gallery img {
	width: 100%;
	height: 56vw;
}

.content-section {
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	padding-bottom: 150px;
}

a {
	text-decoration: none;
	color: inherit;
}

.footer {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #eadac0;
}

.footer h4 {
	margin: 0;
	text-align: center;
}

.footer img {
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
}
