.container {
	width: 100%;
	max-width: 550px;
	margin: auto;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	font-family: 'Old Standard TT';
	position: relative;
	
}

.content {
	position: relative;
}


.content h2 {
	font-weight: 200;
}

.content {
  background: url('../images/bg/story.jpg');
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); 
  color: white;
}

.showcase {
	height: 1300px;
	max-width: 980px;
	margin: auto;
	position: relative;
}

.img1 {
	width: 680px;
	position: absolute;
	top: 0;
	left: 0;
}

.img2 {
	width: 300px;
	position: absolute;
	top: 0;
	left: 680px;
}

.img4 {
	width: 684.2px;
	position: absolute;
	top: 452px;
	left: 0;
}

.img3 {
	position: absolute;
	width: 295px;
	top: 452px;
	left: 684.2px;
}

.img5 {
	position: absolute;
	width: 506px;
	top: 896px;
	left: 0px;
}

.img6 {
	position: absolute;
	width: 473px;
	top: 896px;
	left: 506px;
}
